<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <h1>Rejestracja</h1>

    <form th:action="@{/register}" th:object="${registerForm}" method="post">

        <label>Login:</label>
        <input type="text" th:field="*{username}"/>
        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color:red"></span>
        <br/>

        <label>Hasło:</label>
        <input type="password" th:field="*{password}"/>
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color:red"></span>
        <br/>

        <label>Nazwa firmy:</label>
        <input type="text" th:field="*{companyName}"/>
        <span th:if="${#fields.hasErrors('companyName')}" th:errors="*{companyName}" style="color:red"></span>
        <br/>

        <label>Adres:</label>
        <input type="text" th:field="*{address}"/>
        <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}" style="color:red"></span>
        <br/>

        <label>Numer telefonu:</label>
        <input type="text" th:field="*{phone}"/>
        <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" style="color:red"></span>
        <br/>

        <label>Email:</label>
        <input type="text" th:field="*{email}"/>
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color:red"></span>
        <br/>

        <label>Numer NIP:</label>
        <input type="text" th:field="*{nip}"/>
        <span th:if="${#fields.hasErrors('nip')}" th:errors="*{nip}" style="color:red"></span>
        <br/>

        <button type="submit">Zarejestruj</button>
    </form>

</body>
</html>