<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista kosztorysów</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div th:replace="~{fragments/nav :: navigation}"></div>
    <h1>Kosztorys</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Projekt</th>
                <th>Data</th>
                <th>Suma</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="estimate : ${estimates}">
                <td th:text="${estimate.projectName}"></td>
                <td th:text="${estimate.creationDate}"></td>
                <td th:text="${estimate.totalAmount}"></td>
                <td><a th:href="@{/estimates/{id}(id=${estimate.id})}">Szczegóły</a></td>
            </tr>
        </tbody>
    </table>
    <h1>Kosztorysy</h1>
    <a th:href="@{/estimates/new}">Nowy kosztorys</a>

</body>
</html>