<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edytuj klienta</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="~{fragments/nav :: navigation}"></div>
<h1>Edytuj klienta</h1>

<form th:action="@{/clients/{id}/edit(id=${clientId})}" th:object="${client}" method="post">

    <label>Imię i nazwisko / nazwa firmy:</label>
    <input type="text" th:field="*{name}"/>
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color:red"></span>
    <br/>

    <label>Telefon:</label>
    <input type="text" th:field="*{phoneNumber}"/>
    <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" style="color:red"></span>
    <br/>

    <label>Email:</label>
    <input type="text" th:field="*{email}"/>
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color:red"></span>
    <br/>

    <button type="submit">Zapisz</button>
</form>
</body>
</html>