<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nowy projekt</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div th:replace="~{fragments/nav :: navigation}"></div>
    <h1>Nowy projekt</h1>

    <form th:action="@{/projects}" th:object="${project}" method="post">

        <label>Klient:</label>
        <select th:field="*{clientId}">
            <option th:each="client : ${clients}"
                    th:value="${client.id}"
                    th:text="${client.name}"></option>
        </select>
        <span th:if="${#fields.hasErrors('clientId')}" th:errors="*{clientId}" style="color:red"></span>
        <br/>

        <label>Nazwa/adres projektu:</label>
        <input type="text" th:field="*{name}"/>
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color:red"></span>
        <br/>

        <label>Data utworzenia:</label>
        <input type="date" th:field="*{creationDate}"/>
        <span th:if="${#fields.hasErrors('creationDate')}" th:errors="*{creationDate}" style="color:red"></span>
        <br/>

        <button type="submit">Zapisz</button>
    </form>

</body>
</html>